body
{
	background-color:#ffffff;
}

table, td, th
{
	border:1px solid #545454;
}

table
{
	border-collapse:collapse;
}

th
{
	background-color:#cfcfcf;
}

td
{
	padding:3px;
	background-color:#f5f5f5;
}

a
{
	color: #6B8CB7;
	text-decoration:none;
	font-weight: bold;
}

input
{
	border: 1px solid #545454;
	font: bold small 'trebuchet ms',helvetica,sans-serif; 
	
}

select
{
        border: 1px solid #545454;
}

hr
{
	border: 1px solid #545454;
}

#gsNavBar  {
	border-bottom-width:1px;
	border-top-width:1px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.gcBorder1 {
	border:0 solid #CCCCCC;
}

#hiddenArea
{
	display:none;
}

#headerBar1
{
	background-color:#cfcfcf;
}

table.navigation
{
	background-color: #ffffff;
	border: 0px solid #ffffff;
}

.nav
{
	background-color: #ffffff;
	border-width: 0px;
	vertical-align:middle;
	
}

td.navigation
{
	background-color:#f5f5f5;
	border: 1px solid #545454;
	padding:3px;
}

table.navigation
{
	border: 0px solid #ffffff;
	width:150px;
}

a.navigation
{	
	color: black;
        text-decoration:none;
        font-family: "Times New Roman", Georgia, Serif;
}

td.navigation_selected
{
        padding:3px;
        background-color:#cfcfcf;
        border:1px solid #545454;
}

table.content
{
	background-color:#ffffff;
	border: 0px;
}

td.content
{
	background-color:#ffffff;
        border: 0px;
	vertical-align:top;
}

td.content_right
{
	background-color:#ffffff;
        border: 0px;
        vertical-align:top;
	padding-left: 30px;
}

.percent
{
	display: block;
	float: left;
	background:url(images/percent.png) top left no-repeat;
	height: 17px;
	width:75px;
}
.percent span
{
	background:url(images/percent.png) bottom right no-repeat;
	display:block;
	float:left;
	height:17px;
}

div.progress-container {
  border: 1px solid #ccc; 
  width: 150px; 
  margin: 2px 5px 2px 0; 
  padding: 1px; 
  float: left; 
  background: white;
  text-align: left;
  font-size: 14px;
}

div.progress-container > div {
  background-color: #ACE97C; 
  height: 16px
}

a.progress_text
{
	font-size:8px;	
}
