#Configuration for webblast

#SQL authentication information
sql_user_name=blastWeb;
sql_password=igb123";
sql_dataBase=blastWeb;

#LDAP settings
host=authen.igb.uiuc.edu;
people_dn=ou=people,dc=igb,dc=uiuc,dc=edu;
group_dn=ou=group,dc=igb,dc=uiuc,dc=edu;
ssl=0;
port=389;
admin_group=cnrg;

#Slave Node Paths
slave_chunk_results=/home/blastWeb/BLAST/output/
slave_queries=/home/blastWeb/BLAST/queries/

#Master Node Paths
perl_scripts=/var/www/html/webblast/scripts/
master_queries=/blastWeb/BLAST/queries/
master_chunk_results=/blastWeb/BLAST/output/
master_move_delete=/blastWeb/BLAST/delete/
master_final_results=/blastWeb/BLAST/concatoutput/

#messages
email=nevoband@igb.uiuc.edu
job_complete_subject=BLAST Job [job] has completed
job_complete_message=Thank you for using IGB BLAST\n\nIMPORTANT: JOBS WILL BE DELETED 5 DAYS AFTER COMPLETION IN ORDER TO CLEAR SPACE FOR NEW JOBS.\n\nYou may get your results through the following links.\n\nTo download Parsed CSV: [csvurl]\nTo download Raw BLAST: [resulturl] 
transfer_complete_subject=BLAST job [job] has finished transfering
transfer_complete_message=Thank you for using IGB BLAST\n\nThe files you requested have been transferred to your drop box.\n\nFor assistance please contact help@igb.uiuc.edu

#Website Info
url_path=http://clcluster.igb.illinois.edu/webblast

#Job Submission Settings
default_chunk_size=200

#Job Deletion
job_expire_days=5

#Database Settings
user_databases_path=/export/home/blastdbs/userdbs/
formatdb_volume_size=1000
taxonomy_path=/export/home/blastdbs/taxonomy/